.element-view {
    padding: 10px;
    transition: all ease-in-out .15s;
}
.element-view .element-view {
    padding: 0;
}
.element-view--obstructed {
    opacity: 0.2;
}

.element-view img {
    max-width: 100%;
}

.element-view {
    position: relative;
    border-radius: 4px;
    --element-color: white;
}

.element-view--highlight {
    position: relative;
}

.element-view::before {
    transition: all ease-in-out .15s;
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    opacity: 0;
}

.element-view--highlight::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--element-color);
    box-shadow:
            0 0 0 1px var(--element-color),
            0 0 0 20px var(--element-color);
    opacity: 0.3;
    border-radius: 10px;
}

.element-view--container {
    --element-color: rgb(12, 156, 47);
}

.element-view--text {
    --element-color: rgb(0, 135, 180);
}

.element-view--image {
    --element-color: lime;
}

.element-view--list {
    --element-color: orange;
}