.workspace-title {
    height: 80px;
}

.workspace {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.workspace:after {
}

.workspace-editor {
    width: 30%;
    max-height: 100%;
}

.workspace-viewer {
    width: 70%;
    max-height: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.workspace-editor,
.workspace-viewer {
    max-height: 100%;
}

.workspace-viewer--settings {
    height: 120px;
}

.workspace .simplebar-scrollbar:before {
    background: white;
}

