.workspace {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.workspace:after {
    clear: both;
    display: table;
    content: '';
}

.workspace-editor {
    width: 40%;
}

.workspace-viewer {
    width: 60%;
    padding: 0 20px;
}

.workspace-editor,
.workspace-viewer {
    max-height: 80vh;
    overflow: auto;
}

.workspace .simplebar-scrollbar:before {
    background: white;
}

.element-editor {
    border: 2px solid var(--element-color);
    position: relative;
}
.element-editor + .element-editor {
    margin-top: 20px;
}

.element-view {
    padding: 10px;
    transition: all ease-in-out .15s;
}
.element-view .element-view {
    padding: 0;
}
.element-view--obstructed {
    opacity: 0.5;
}

.element-editor,
.element-view {
    border-radius: 4px;
    --element-color: white;
}

.element-view--highlight {
    box-shadow: 0 0 4px 4px var(--element-color);
    position: relative;
}

.element-view--highlight::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--element-color);
    opacity: 0.1;
}

.element-editor--container,
.element-view--container {
    --element-color: grey;
}

.element-editor--text,
.element-view--text {
    --element-color: magenta;
}

.element-editor--image,
.element-view--image {
    --element-color: lime;
}

.element-editor--list,
.element-view--list {
    --element-color: brown;
}

.element-editor--name {
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: var(--element-color);
    position: absolute;
    top: 0;
    left: 0;
}

.element-editor--body {
    margin: 30px 0;
    padding: 20px;
}

.element-editor--actions {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.element-editor-btn {
    height: 30px;
    line-height: 28px;
    padding: 0 8px;
    border: 0;
    border-radius: 4px;
    color: var(--element-color);
    border: 1px solid var(--element-color);
    background: transparent;
}

.element-editor-btn:hover {
    color: white;
    background-color: var(--element-color);
}