.workspace {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.workspace:after {
    clear: both;
    display: table;
    content: '';
}

.workspace-editor {
    width: 40%;
}

.workspace-viewer {
    width: 60%;
    padding: 0 20px;
}

.workspace-editor,
.workspace-viewer {
    max-height: 80vh;
    overflow: auto;
}

.workspace .simplebar-scrollbar:before {
    background: white;
}

.element-editor {
    border: 2px solid var(--element-color);
    position: relative;
}
.element-editor + .element-editor {
    margin-top: 20px;
}

.element-view {
    padding: 10px;
    transition: all ease-in-out .15s;
}
.element-view .element-view {
    padding: 0;
}
.element-view--obstructed {
    opacity: 0.2;
}

.element-editor,
.element-view {
    position: relative;
    border-radius: 4px;
    --element-color: white;
}

.element-view--highlight {
    position: relative;
    box-shadow: 0 0 0 1px var(--element-color);
}

.element-view--highlight::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--element-color);
    box-shadow: 0 0 0 20px var(--element-color);
    opacity: 0.2;
    z-index: -1;
}

.element-editor--container,
.element-view--container {
    --element-color: rgb(70, 70, 70);
}

.element-editor--text,
.element-view--text {
    --element-color: rgb(0, 135, 180);
}

.element-editor--image,
.element-view--image {
    --element-color: lime;
}

.element-editor--list,
.element-view--list {
    --element-color: orange;
}

.element-editor--name {
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: var(--element-color);
    position: absolute;
    top: 0;
    left: 0;
}

.element-editor--body {
    margin-top: 30px;
}

.element-editor--actions {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.element-editor--actions button {
    color: var(--element-color);
    border-color: var(--element-color);
}

.element-editor-btn:hover {
    color: white;
    background-color: var(--element-color);
}

.element-editor .rs-nav-item:hover,
.element-editor .rs-nav-item-active {
    color: var(--element-color) !important;
}

.element-editor .rs-nav-item-active::before {
    background-color: var(--element-color) !important;
}

.element-editor .rs-input-group:hover,
.element-editor .rs-input-group:focus-within,
.element-editor .rs-input:focus, 
.element-editor .rs-input:hover:not(:disabled) {
    border-color: var(--element-color) !important;
    outline-color: var(--element-color) !important;
}